<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.schmidtgan.code.mapper.SnippetMapper">
    <select id="search_results" parameterType="string" resultType="Snippet">
        select * from code where url = #{url}
    </select>

</mapper>